* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Fox Cavalier', sans-serif;
}

html{
  font-size: 62.5%;  
 
                                                
  
  letter-spacing: 0.2rem;
}

body {
  background-color: rgb(39, 39, 39);
}

.page-wrapper {
  
  min-height: 100vh;
  background-color: rgb(39, 39, 39);
}




header {
  position: relative;
  height: 40em;
  /* width: 94%;
  margin: 0 auto; */
  /* margin-bottom: 2em; */
  /* border-radius: 8px; */
  background-image: url('../public/bg.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(50%) blur(3px);
}

h2{
  position: absolute;
  width: 100%;
  margin: 0 auto;
  top: 0;
  text-align: center;
  font-size: 7rem;
  font-weight: 400;
  font-family: 'Star Wars', sans-serif;
  color: #f4e34c;
  text-shadow: 0 2px 5px rgba(6, 6, 6, 0.845);
  padding-top: 2.5em;
  animation: fadeIn 2.5s ease;
}






.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  
  
  position: relative;

  width: 100%;
  padding: 1em 6em;
  margin-top: 7em;
  
  /* background-color: white; */
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1
  }
}