* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Fox Cavalier', sans-serif;
}

html{
  font-size: 62.5%;  
 
                                                
  
  letter-spacing: 0.2rem;
}

body {
  background-color:rgb(24, 24, 24);
  /* background-color: rgba(20,20,20,1); */
}

.page-wrapper {
  
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;  

  /* background-color: rgb(39, 39, 39); */


  /* background-image: url(../public/bg3.jpg); */
  background-image:  -moz-linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 0) 50%,rgb(24, 24, 24) 100%), url(../public/bg3.jpg);
  /* background-image:  -moz-linear-gradient(rgba(0,0,0, 0) 0%,rgba(20,20,20,1) 100%), url(../public/bg2.jpg); */
  background-size: cover;
  background-position: center;
}




header {
  position: relative;
  height: 35em;
  /* width: 94%;
  margin: 0 auto; */
  /* margin-bottom: 2em; */
  /* border-radius: 8px; */

  display: none;

  /* background-image: url('../public/bg.jpg'); */
  background-size: cover;
  background-position: center;
  filter: brightness(50%) blur(2px);
}

h2{

  
  top: 0;
  text-align: center;
  font-size: 7rem;
  font-weight: 400;
  font-family: 'Star Wars', sans-serif;
  color: #f4e34c;
  text-shadow: 0 2px 5px rgba(6, 6, 6, 0.845);
  padding: 2.1em 0;
  animation: fadeIn 2.5s ease;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1
  }
}