* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Fox Cavalier', sans-serif;
}

html{
  font-size: 62.5%;  
 
                                                
  
  letter-spacing: 0.2rem;
}

body {
  background-color: rgb(39, 39, 39);
}

.page-wrapper {
  min-height: 100vh;
  background-color: rgb(39, 39, 39);
}




header {
  position: relative;
  height: 40em;
  /* width: 94%;
  margin: 0 auto; */
  /* margin-bottom: 2em; */
  /* border-radius: 8px; */
  background-image: url('../public/bg.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(50%) blur(3px);
}

h2{
  position: absolute;
  width: 100%;
  margin: 0 auto;
  top: 0;
  text-align: center;
  font-size: 7rem;
  font-weight: 400;
  font-family: 'Star Wars', sans-serif;
  color: #f4e34c;
  text-shadow: 0 2px 5px rgba(6, 6, 6, 0.845);
  padding-top: 2.5em;
  animation: fadeIn 2.5s ease;
}






.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  
  
  position: relative;

  width: 100%;
  padding: 1em 6em;
  margin-top: 7em;
  
  /* background-color: white; */
}


.category-btn, .left-arrow, .right-arrow{
  padding: 1em 1em;
  border: 2px solid rgb(220, 219, 219);
  background-color: rgb(39, 39, 39);
  color: rgb(220, 219, 219);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 200;
  letter-spacing: 1px;
  animation: fadeIn 2.5s ease;
}
.category-btn:active, .left-arrow:active, .right-arrow:active{
  scale: 0.9;
}

.category-btn:hover, .left-arrow:hover, .right-arrow:hover {
  background-color: white;
  color:#515ae2;
  
  transition: .15s all;
}

.back-btn{
  position: absolute;
  top: -2.5em;
  left: 1.5em;
  border: none;
  border-bottom: 2px solid #f4e34c;
  color: #f4e34c;
  background-color: rgb(39, 39, 39);
  font-size: 2em;

  cursor: pointer;
}

.back-btn:hover{
  color: white;
  border-bottom: 2px solid white;
  transition: .3s;
}

.left-arrow, .right-arrow {
  position: absolute;
  font-weight: bold;
  border: none !important;
  margin: 0 2em;
}


.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}




.details {


  margin: 2em 0em;
  padding: 2em;
  color: rgb(220, 219, 219);
  
}

.title {
  color:#515ae2; 
}

.detail-line {



  margin-top: 1em;
  line-height: 2rem;
  font-size: 1.5em;
  animation: fadeIn 2.5s ease;
}

.detail-row {
  

  color: #f4e34c;
  
  margin: 2em 0em;
  font-size: 2em;
}

.detail-row h3 {
  margin-bottom: 1em;
}

.detail-row p {
  margin-left: 2em;
}

.sub-detail-button {

  padding: .5em 0em;
  margin-bottom: 1em;

  border: none;
  border-bottom: 2px solid #515ae2;
  background: none;
  color: white;

  letter-spacing: .1em;

  cursor: pointer;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}